@model Person

<h1>Person Page ... </h1>

<div>
    <p>Id: @Model.Id</p>
    <p>FirstName: @Model.FirstName</p>
    <p>LastName: @Model.LastName</p>
    <p>Age: @Model.Age</p>
</div>

<hr />

<div>
    <p>Id: @ViewBag.perr.Id</p>
    <p>FirstName: @ViewBag.perr.FirstName</p>
    <p>LastName: @ViewBag.perr.LastName</p>
    <p>Age: @ViewBag.perr.Age </p>
</div>